In [1]:
# count - 문자열 내 특정 문자 갯수 세기
mystr = 'Dave David'
mystr.count('D')

2

In [4]:
mystr.count('e D')
mystr.count('eD')

0

In [5]:
# index - 문자열 내 (첫번째로 등장하는) 특정 문자의 위치 반환
mystr.index('D')

0

In [6]:
# find - index와 달리 에러를 발생시키지 않음
mystr.find('X')

-1

In [7]:
','.join(mystr)

'D,a,v,e, ,D,a,v,i,d'

In [16]:
# strip, lstrip, rstrip
mystr2 = "             9999999999999999998888888(Dave)88899898"
mystr2.strip(" 98()")

'Dave'

In [17]:
mystr.upper()

'DAVE DAVID'

In [18]:
mystr.lower()

'dave david'

In [19]:
mystr.split()

['Dave', 'David']

In [21]:
mystr3 = "(David)"
mystr3.replace("(", "").replace(")", "")

'David'